/* line 1, ../sass/botonSocial.scss */
.botonlateralSocial {
  margin-top: 15px;
  clear: both;
  margin-bottom: 25px;
}
/* line 4, ../sass/botonSocial.scss */
.botonlateralSocial a:link {
  border: none;
}

/* line 9, ../sass/botonSocial.scss */
.listadoReacciones {
  margin-bottom: 25px;
  /* @end */
}
/* line 11, ../sass/botonSocial.scss */
.listadoReacciones #follow {
  margin-top: 15px;
}
/* line 14, ../sass/botonSocial.scss */
.listadoReacciones .tweetButton {
  margin-top: 10px;
  margin-bottom: 0px;
}
/* line 18, ../sass/botonSocial.scss */
.listadoReacciones .tweetContenido.cargando {
  display: block;
  height: 105px;
  font: 13px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #929292;
}
/* line 25, ../sass/botonSocial.scss */
.listadoReacciones li, .listadoReacciones .reaccionesIcono {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-size: cover;
}
/* line 33, ../sass/botonSocial.scss */
.listadoReacciones li, .listadoReacciones .reaccionesIcono {
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 38, ../sass/botonSocial.scss */
.listadoReacciones .reaccionesIcono {
  cursor: pointer;
  opacity: 0.65;
}
/* line 42, ../sass/botonSocial.scss */
.listadoReacciones .subcategoryPopUp2 {
  position: absolute;
  z-index: 5;
  font: 13px 'lucinda grande', Helvetica, Arial;
  display: none;
  width: 260px;
  margin-top: 42px;
  border: 1px solid rgba(66, 66, 66, 0.8);
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 0;
}
/* line 56, ../sass/botonSocial.scss */
.listadoReacciones .subcategoryPopUp2 .triangulo {
  background-image: url(/imagenes/triangulo.png);
  display: block;
  width: 23px;
  height: 13px;
  position: absolute;
  top: -12px;
  left: 5px;
  border-style: none;
  border-width: 0;
}
/* line 67, ../sass/botonSocial.scss */
.listadoReacciones .subcategoryPopUp2 p {
  padding: 7px;
}
/* line 70, ../sass/botonSocial.scss */
.listadoReacciones .subcategoryPopUp2 a, .listadoReacciones .subcategoryPopUp2 a:link, .listadoReacciones .subcategoryPopUp2 a:active {
  color: white;
  border-bottom-style: none;
  position: relative;
}
/* line 75, ../sass/botonSocial.scss */
.listadoReacciones .subcategoryPopUp2 a:hover {
  color: #bdbdbd;
}
