/* line 1, ../sass/botonSocial.scss */
.botonlateralSocial {
  margin-top: 15px;
  clear: both;
  margin-bottom: 25px;
}
/* line 4, ../sass/botonSocial.scss */
.botonlateralSocial a:link {
  border: none;
}
