/* line 17, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'colaborativaBook';
  src: url("fonts/colaborativabook-webfont.eot");
  src: url("fonts/colaborativabook-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativabook-webfont.woff") format("woff"), url("fonts/colaborativabook-webfont.ttf") format("truetype"), url("fonts/colaborativabook-webfont.svgz#colaborativaBook") format("svg"), url("fonts/colaborativabook-webfont.svg#colaborativaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMedium';
  src: url("fonts/colaborativamedium-webfont.eot");
  src: url("fonts/colaborativamedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamedium-webfont.woff") format("woff"), url("fonts/colaborativamedium-webfont.ttf") format("truetype"), url("fonts/colaborativamedium-webfont.svgz#colaborativaMedium") format("svg"), url("fonts/colaborativamedium-webfont.svg#colaborativaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMediumItalic';
  src: url("fonts/colaborativamediumitalic-webfont.eot");
  src: url("fonts/colaborativamediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamediumitalic-webfont.woff") format("woff"), url("fonts/colaborativamediumitalic-webfont.ttf") format("truetype"), url("fonts/colaborativamediumitalic-webfont.svgz#colaborativaMediumItalic") format("svg"), url("fonts/colaborativamediumitalic-webfont.svg#colaborativaMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaLight';
  src: url("fonts/colaborativa-light-webfont.eot");
  src: url("fonts/colaborativa-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-light-webfont.woff") format("woff"), url("fonts/colaborativa-light-webfont.ttf") format("truetype"), url("fonts/colaborativa-light-webfont.svgz#colaborativa-light") format("svg"), url("fonts/colaborativa-light-webfont.svg#colaborativa-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
.slides_container {
  width: 960px;
  height: 300px;
}
/* line 7, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
.slides_container div {
  width: 960px;
  height: 300px;
  display: block;
}

/* line 13, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides {
  position: relative;
  z-index: 100;
}
/* line 16, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides a.prev, #slides a.next {
  border: none;
  position: absolute;
  display: table-cell;
  vertical-align: center;
  text-align: center;
  width: 40px;
  height: 40px;
  font: 20px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -khtml-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  cursor: pointer;
  z-index: 10;
}
/* line 30, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides a.prev.prev, #slides a.next.prev {
  background-position: 0 0;
  top: 130px;
  left: 20px;
}
/* line 35, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides a.prev.next, #slides a.next.next {
  background-position: 160px 0;
  top: 130px;
  right: 20px;
}
/* line 41, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides .pagination {
  position: absolute;
  z-index: 10;
  bottom: 7px;
  width: 960px;
  text-align: center;
}
/* line 47, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides .pagination li {
  display: inline-block;
  margin: 3px;
}
/* line 50, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides .pagination li a {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  width: 10px;
  height: 10px;
  outline: none;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  color: rgba(255, 255, 255, 0);
}
/* line 61, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_slides.scss */
#slides .pagination .current a {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Titulo nodo, titulo cierreNodo*/
/* line 2, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h1.hero {
  color: #343434;
  text-shadow: 0 1px #ffffff;
  font: 37px/50px "colaborativaBook";
}

/* line 8, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h1.big {
  font: 30px "colaborativaBook";
  color: #343434;
}

/* line 12, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h1 {
  font: 25px/25px "colaborativaBook";
  color: #343434;
}
/* line 15, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h1.parrafo {
  line-height: 30px;
}

/* line 19, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h2 {
  margin-top: 10px;
  margin-bottom: 14px;
  font: 20px/23px "colaborativaLight";
  color: #929292;
}

/* line 25, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h2.tweet {
  margin-bottom: 0px;
}

/* line 28, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h3 {
  font: 18px "colaborativaBook";
  color: #343434;
}

/* line 32, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
nav h3 {
  font: 18px "colaborativaMedium";
  color: #343434;
  text-shadow: 0 1px #ffffff;
}

/* line 37, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h4 {
  font: 13px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #929292;
}

/* line 41, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h5, .additionalInfo {
  font: 12px/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #929292;
}

/* line 45, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
h5.tweet {
  margin-top: 0px;
}

/* line 48, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
body, p {
  font: 13px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #343434;
}

/* line 52, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
i {
  font-style: italic;
}

/* line 55, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
strong {
  font-weight: bold;
}

/* line 58, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
blockquote p {
  font-style: italic;
  text-indent: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* line 64, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:link, a:visited, a:active {
  color: #2671bc;
  text-decoration: none;
  border-bottom: 1px dotted #DFDFDF;
}

/* line 69, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:hover {
  color: #5195da;
}

/* line 72, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:link.listadoTitulo, a:visited.listadoTitulo, a:active.listadoTitulo {
  color: #2671bc;
  text-decoration: none;
  border-bottom: none;
}

/* line 77, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:hover.listadoTitulo {
  color: #5195da;
  text-decoration: none;
  border-bottom: none;
}

/* line 82, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:link.social, a:visited.social, a:active.social {
  color: #929292;
  border-bottom: none;
}

/* line 86, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:hover.social {
  color: #bfbfbf;
}

/* line 89, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:link.titulo, a:visited.titulo, a:link.menu, a:visited.menu, a:hover.menu {
  color: #343434;
  border-bottom: none;
  text-decoration: none;
}

/* line 94, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_type.scss */
a:hover.titulo {
  color: #343434;
  border-bottom: 1px dotted #DFDFDF;
}

/* botonera addthis sociales */
/* line 6, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
.botonlateralSocial {
  margin-top: 15px;
  clear: both;
  margin-bottom: 25px;
}
/* line 9, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
.botonlateralSocial a:link {
  border: none;
}

/* Componente paginacion */
/* line 18, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
ul.pager {
  margin: 15px 0 0;
  padding: 0;
}

/* line 22, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
li.paginacion {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 26, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
li.paginacion.current {
  background-color: #dfdfdf;
  padding: 4px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: white;
}
/* line 34, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
li.paginacion a:link, li.paginacion a:visited {
  border-bottom-style: none;
  padding: 4px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
/* line 41, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
li.paginacion a:hover {
  background-color: #ededed;
}
/* line 44, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
li.paginacion a:active {
  background-color: #dfdfdf;
}

/* Ultimo Tweet Inicio */
/* line 52, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
#ultimoTweetInicio {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 55, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
#ultimoTweetInicio .tweetContenido {
  margin-top: 40px;
}
/* line 58, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
#ultimoTweetInicio .tweetFecha {
  text-align: right;
  margin-top: 15px;
}
/* line 62, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
#ultimoTweetInicio .tweetInfo {
  text-align: right;
}
/* line 65, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
#ultimoTweetInicio a.nombreUsuario:link, #ultimoTweetInicio a.nombreUsuario:visited {
  border-bottom-style: none;
}

/* Enlaces sociales */
/* line 73, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
.enlacesSociales {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 240px;
  display: block;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  border-left: 1px solid #f2f2f2;
  margin-top: 35px;
}
/* line 86, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
.enlacesSociales li {
  padding: 2px 0;
}

/* Enlaces externos */
/* line 94, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno > span {
  background: url(/imagenes/enlacesExternos.png) 0 -120px no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 7px;
}

/* line 103, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno:hover > span {
  background: url(/imagenes/enlacesExternos.png) -20 -120px no-repeat;
}

/* line 106, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='facebook.com'] > span {
  background: url(/imagenes/enlacesExternos.png) 0 -40px no-repeat;
}

/* line 109, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='facebook.com']:hover > span {
  background: url(/imagenes/enlacesExternos.png) -20 -40px no-repeat;
}

/* line 112, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='twitter.com'] > span {
  background: url(/imagenes/enlacesExternos.png) 0 0px no-repeat;
}

/* line 115, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='twitter.com']:hover > span {
  background: url(/imagenes/enlacesExternos.png) -20 0px no-repeat;
}

/* line 118, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='flickr.com'] > span {
  background: url(/imagenes/enlacesExternos.png) 0 -20px no-repeat;
}

/* line 121, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='flickr.com']:hover > span {
  background: url(/imagenes/enlacesExternos.png) -20 -20px no-repeat;
}

/* line 124, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='linkedin.com'] > span {
  background: url(/imagenes/enlacesExternos.png) 0 -60px no-repeat;
}

/* line 127, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='linkedin.com']:hover > span {
  background: url(/imagenes/enlacesExternos.png) -20 -60px no-repeat;
}

/* line 130, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='youtube.com'] > span {
  background: url(/imagenes/enlacesExternos.png) 0 -80px no-repeat;
}

/* line 133, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_componentes.scss */
a.enlaceExterno[href*='youtube.com']:hover > span {
  background: url(/imagenes/enlacesExternos.png) -20 -80px no-repeat;
}

/* line 3, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoEtiquetas {
  margin-bottom: 30px;
}
/* line 5, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoEtiquetas hgroup {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 9, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoEtiquetas li:first-child, .listadoEtiquetas li:first-child {
  border-top: 1px solid #f2f2f2;
}
/* line 12, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoEtiquetas li, .listadoEtiquetas li:first-child {
  border-bottom: 1px solid #f2f2f2;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 17, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoEtiquetas li span.count {
  color: #2671bc;
  width: 35px;
  display: inline-block;
  text-align: center;
}

/* line 25, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos {
  margin-bottom: 30px;
}
/* line 27, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos hgroup {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 31, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos ul {
  margin-top: 10px;
}
/* line 33, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos ul li:first-child {
  border-top-style: none;
}
/* line 36, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos ul li {
  border-bottom: 1px solid #f2f2f2;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 40, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos ul li hgroup {
  margin: 0px;
}
/* line 44, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoArticulos ul li span.count {
  width: 35px;
  display: inline-block;
  text-align: center;
}

/* line 53, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoColaborativos {
  margin-bottom: 30px;
}
/* line 55, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoColaborativos hgroup {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 59, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoColaborativos ul {
  margin-top: 10px;
}
/* line 62, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoColaborativos ul li .colaborativoIcono, .listadoColaborativos ul li .colaboradorIcono {
  position: relative;
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  float: left;
  background-size: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 73, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoColaborativos ul li a:link {
  text-decoration: none;
  border-bottom: none;
}

/* bloqueActividades */
/* line 84, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades {
  height: 170px;
  width: 300px;
}
/* line 87, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades h2 {
  font: 25px/25px "colaborativaBook";
  color: white;
  background-color: #c7c7c7;
  padding-left: 10px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 96, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dotted silver;
  height: 35px;
  display: table;
  width: 290px;
}
/* line 102, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li a:link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: #323232;
  margin: 0;
  text-align: left;
  padding: 0;
  border-bottom-style: none;
}
/* line 114, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li a:visited {
  text-decoration: none;
  color: #323232;
}
/* line 119, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li:hover {
  background-color: #efefef;
}
/* line 122, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li:active {
  background-color: #d7d7d7;
}
/* line 125, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li span {
  width: 33px;
  display: table-cell;
  position: relative;
  top: 0;
  left: 0;
  height: 33px;
}
/* line 133, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li.estrategico span {
  background: url(/imagenes/iconoEstrategias.png) 0 0px no-repeat;
}
/* line 136, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li.acciones span {
  background: url(/imagenes/iconoAcciones.png) 0 0px no-repeat;
}
/* line 139, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li.geoposicionamiento span {
  background: url(/imagenes/iconoGeoposicionamiento.png) 0 0px no-repeat;
}
/* line 142, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.bloqueActividades li.visualizacion span {
  background: url(/imagenes/iconoVisualizacion.png) 0 0px no-repeat;
}

/* subcategoryPopUp en reacciones */
/* line 150, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp, .subcategoryPopUp2 {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  z-index: 5;
  font: 13px 'lucinda grande', Helvetica, Arial;
  display: none;
  width: 260px;
  border: 1px solid rgba(66, 66, 66, 0.8);
  background-color: rgba(50, 50, 50, 0.8);
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 161, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp .triangulo, .subcategoryPopUp2 .triangulo {
  background-image: url(/imagenes/triangulo.png);
  display: block;
  width: 23px;
  height: 13px;
  position: absolute;
  top: -12px;
  left: 14px;
  border-style: none;
  border-width: 0;
}
/* line 172, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp p, .subcategoryPopUp2 p {
  color: #b4b4b4;
}
/* line 175, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp a, .subcategoryPopUp a:link, .subcategoryPopUp a:active, .subcategoryPopUp2 a, .subcategoryPopUp2 a:link, .subcategoryPopUp2 a:active {
  color: white;
  border-bottom-style: none;
  position: relative;
}
/* line 180, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp a:hover, .subcategoryPopUp2 a:hover {
  color: #bdbdbd;
}

/* line 184, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp {
  margin-top: 65px;
}

/* line 187, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp2 {
  margin-top: 42px;
}
/* line 189, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.subcategoryPopUp2 .triangulo {
  left: 8px;
}

/* listadoReacciones */
/* line 197, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones {
  margin-bottom: 25px;
}
/* line 199, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones p.nota {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 203, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones #follow {
  margin-top: 15px;
}
/* line 206, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones .tweetButton {
  margin-top: 10px;
  margin-bottom: 0px;
}
/* line 210, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones .tweetContenido.cargando {
  display: block;
  height: 105px;
  font: 13px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #929292;
}
/* line 216, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones li, .listadoReacciones .reaccionesIcono {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-size: cover;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 226, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_listadosAuxiliares.scss */
.listadoReacciones .reaccionesIcono {
  cursor: pointer;
  opacity: 0.65;
}

/* line 3, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.cabeceraPagina {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 85px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #fafafa);
  background-image: -moz-linear-gradient(top, #e6e6e6, #fafafa);
  background-image: -o-linear-gradient(top, #e6e6e6, #fafafa);
  background-image: -ms-linear-gradient(top, #e6e6e6, #fafafa);
  background-image: linear-gradient(top, #e6e6e6, #fafafa);
  padding-top: 25px;
}
/* line 12, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.cabeceraPagina .tituloMenuBusqueda {
  display: table;
  width: 960px;
}
/* line 15, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.cabeceraPagina .tituloMenuBusqueda h1 {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  height: 15px;
  resize: none;
}
/* line 22, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.cabeceraPagina .tituloMenuBusqueda nav {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 31, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.cabeceraPagina .tituloMenuBusqueda nav h2 {
  display: none;
}

/* @end */
/* line 39, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu li {
  display: inline-block;
  width: 24%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 46, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu a:link {
  padding: 3px 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 53, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu a:hover, .menu .cabeceraPagina .menu li a:hover.active {
  background-color: #e6e6e6;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 57, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu a:active {
  background-color: #dfdfdf;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 61, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu a.active {
  background-color: rgba(150, 150, 150, 0.08);
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 65, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu a:before {
  padding-right: 7px;
  position: relative;
  top: 2px;
}
/* line 70, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu .menuBlog:before {
  content: url(/imagenes/menuBlog.png);
}
/* line 73, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu .menuProyectos:before {
  content: url(/imagenes/menuProyectos.png);
}
/* line 76, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu .menuEquipo:before {
  content: url(/imagenes/menuEquipo.png);
}
/* line 79, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.menu .menuCodigo:before {
  content: url(/imagenes/menuCodigo.png);
}

/* line 84, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.search-form {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  position: relative;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  width: 420px;
  margin: 0;
}
/* line 97, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.search-form input[type='text'], .search-form input[type='submit'] {
  display: table-cell;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 103, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.search-form input[type='text'] {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -ms-border-radius-topleft: 15px;
  -ms-border-radius-bottomleft: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid silver;
  color: #343434;
  background-color: white;
  height: 30px;
  border-right-style: none;
  margin: 0;
  padding: 0 15px;
  float: left;
  width: 70%;
}
/* line 122, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.search-form input[type='submit'] {
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -ms-border-radius-toprigth: 15px;
  -ms-border-radius-bottomrigth: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid silver;
  color: #343434;
  background-color: #ededed;
  height: 30px;
  border-left-style: solid;
  margin: 0;
  padding: 0 5px;
  width: 30%;
  float: left;
  text-shadow: 0 1px #ffffff;
}
/* line 142, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapagina.scss */
.search-form input[type='submit']:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

/* line 3, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpagina.scss */
footer {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.6, #fafafa));
  height: 200px;
  display: block;
}

/* line 15, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpagina.scss */
.datosContacto {
  width: 720px;
  float: left;
}
/* line 18, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpagina.scss */
.datosContacto .email, .datosContacto .tel {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 5px;
}
/* line 26, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpagina.scss */
.datosContacto .email {
  background: url(/imagenes/iconosContacto.png) 0px -20px no-repeat;
}
/* line 29, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpagina.scss */
.datosContacto .tel {
  background: url(/imagenes/iconosContacto.png) 0px 0px no-repeat;
  margin-left: 15px;
}

/* line 34, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpagina.scss */
footer h3 {
  margin-top: 8px;
  margin-bottom: 30px;
}

/* line 12, ../sass/screen.scss */
html {
  background-color: #eeeeee;
  height: 100%;
}
/* line 15, ../sass/screen.scss */
html body {
  background-color: #fafafa;
}
/* line 17, ../sass/screen.scss */
html body .cabeceraPagina, html body .piePagina, html body .cuerpoPagina {
  width: 100%;
  min-width: 960px;
}
/* line 20, ../sass/screen.scss */
html body .cabeceraPagina .contenedor, html body .piePagina .contenedor, html body .cuerpoPagina .contenedor {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
/* line 26, ../sass/screen.scss */
html body .contenedorPie {
  clear: both;
}
/* line 29, ../sass/screen.scss */
html body .cuerpoPagina {
  min-height: 400px;
  background-color: #fafafa;
  border-top: 1px solid #f2f2f2;
  margin-top: 50px;
}
/* line 34, ../sass/screen.scss */
html body .cuerpoPagina .contenedor {
  position: relative;
  top: -25px;
}
/* line 39, ../sass/screen.scss */
html body .piePagina {
  border-top: 1px solid #f2f2f2;
  margin-top: 80px;
}
/* line 42, ../sass/screen.scss */
html body .piePagina .contenedor {
  position: relative;
  top: -25px;
}

/* estilos layout basicos */
/* line 53, ../sass/screen.scss */
.contenedor {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 55, ../sass/screen.scss */
.contenedor #columnaNavegacion {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  padding-right: 10px;
  float: left;
}
/* line 61, ../sass/screen.scss */
.contenedor #columnaAuxiliar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  padding-left: 10px;
  float: right;
}
/* line 67, ../sass/screen.scss */
.contenedor #dosColumnasContenido {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 720px;
  padding-left: 25px;
  float: right;
}
/* line 73, ../sass/screen.scss */
.contenedor #tresColumnasContenido {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 480px;
  padding-left: 25px;
  float: left;
  padding-right: 25px;
}
/* line 80, ../sass/screen.scss */
.contenedor #columnaTres {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 440px;
  width: 315px;
  padding-left: 15px;
  float: right;
  border-bottom: none;
}

/* Nodo individual */
/* line 5, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo {
  top: -30px;
  position: relative;
}
/* line 8, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .cabeceraNodo {
  margin-bottom: 25px;
}
/* line 10, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .cabeceraNodo p, .nodo .cabeceraNodo ul {
  margin-top: 10px;
}
/* line 14, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo h3 {
  margin-top: 8px;
  margin-bottom: 0px;
}
/* line 18, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo h4 {
  margin-left: 110px;
}
/* line 21, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .miniaturaNodo {
  display: block;
  float: left;
  margin-right: 15px;
  height: 60px;
  width: 90px;
  background-size: cover;
}
/* line 29, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .imagenNodo {
  margin-bottom: 25px;
}
/* line 31, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .imagenNodo img {
  width: 600px;
}
/* line 36, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .cuerpoNodo h1, .nodo .cuerpoNodo h2, .nodo .cuerpoNodo h3, .nodo .cuerpoNodo h4, .nodo .cuerpoNodo h5, .nodo .cuerpoNodo h6 {
  margin-bottom: 10px;
}
/* line 39, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .cuerpoNodo p {
  margin-bottom: 20px;
}
/* line 43, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .contenedorMultimediaNodo {
  margin-top: 35px;
  margin-bottom: 25px;
}
/* line 46, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .contenedorMultimediaNodo object {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 51, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .enlacesNodo {
  margin-top: 35px;
  margin-bottom: 25px;
}
/* line 54, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .enlacesNodo li {
  padding: 2px 0;
}
/* line 57, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodo .enlacesNodo h2 {
  margin-bottom: 5px;
}

/* cuerpoPagina Inicio*/
/* line 66, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.cuerpoPagina.Inicio {
  border-top: none;
  margin-top: 5px;
}
/* line 69, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.cuerpoPagina.Inicio .contenedor.Inicio {
  position: relative;
  top: 0px;
}
/* line 73, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.cuerpoPagina.Inicio .imagenInicio {
  width: 960px;
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  background-color: silver;
}

/* Listado Nodos */
/* line 86, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos {
  top: -30px;
  position: relative;
}

/* line 90, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio {
  top: 0px;
  width: 720px;
}
/* line 93, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio .nodoLista {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 315px;
  height: 440px;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-style: none;
}
/* line 101, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio .nodoLista:first-child {
  padding-right: 15px;
  border-right: 1px solid #f2f2f2;
  padding-left: 0;
}
/* line 106, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio .nodoLista:last-child {
  width: 330px;
  border-right: 1px solid #f2f2f2;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 112, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio .nodoLista .imagenNodoLista a {
  height: 170px;
  width: 300px;
}
/* line 116, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio .nodoLista .infoNodoLista {
  width: 300px;
}
/* line 118, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Inicio .nodoLista .infoNodoLista .cabeceraNodo p {
  margin-top: 10px;
}

/* line 125, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio {
  top: 0px;
  width: 960px;
  margin-top: 30px;
}
/* line 129, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 315px;
  float: left;
  padding-top: 0;
  border-bottom-style: none;
  height: 400px;
  margin-bottom: 30px;
}
/* line 137, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista:nth-child(3n+1) {
  padding-left: 0px;
  padding-right: 15px;
  width: 315px;
  border: none;
  border-right: 1px dotted #dfdfdf;
}
/* line 144, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista:nth-child(3n+2) {
  padding-left: 15px;
  padding-right: 15px;
  width: 330px;
  border: none;
  border-right: 1px dotted #dfdfdf;
}
/* line 151, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista:nth-child(3n+3) {
  padding-left: 15px;
  padding-right: 0px;
  width: 315px;
  border: none;
}
/* line 157, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista .infoNodoLista {
  width: 300px;
}
/* line 159, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista .infoNodoLista .cabeceraNodo p {
  margin-top: 10px;
}
/* line 164, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.listadoNodos.Portfolio .nodoLista .imagenNodoLista a {
  width: 300px;
}

/* Nodo en lista */
/* line 174, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f2f2f2;
}
/* line 179, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .imagenNodoLista {
  float: left;
  margin-right: 15px;
  background-color: silver;
}
/* line 183, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .imagenNodoLista a {
  display: block;
  margin: 0;
  padding: 0;
  width: 230px;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-color: silver;
}
/* line 192, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .imagenNodoLista a:link, .nodoLista .imagenNodoLista a:visited {
  border-bottom-style: none;
}
/* line 198, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .cabeceraNodo h3 {
  padding-top: 8px;
  padding-bottom: 14px;
}
/* line 202, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .cabeceraNodo hgroup {
  margin-top: 8px;
}
/* line 207, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .cuerpoNodo p {
  display: inline-block;
}
/* line 211, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_portfoliolayout.scss */
.nodoLista .infoNodoLista {
  float: left;
  width: 450px;
}
