@import "compass/utilities/lists/horizontal-list";
@import "compass/css3/border-radius";

.slides_container {
	width:960px;
	height:300px;
	div {
		width:960px;
		height:300px;
		display:block;
	}
}
#slides {
position: relative;
z-index: 100;
	a.prev,  a.next{
	border: none;
	position: absolute;
	display: table-cell;
	vertical-align: center;
	text-align: center;
	width: 40px;
	height: 40px;
	font: 20px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.3);
	@include border-radius(20px, 20px);
	cursor: pointer;
	z-index: 10;
		&.prev {
		background-position: 0 0;
		top: 130px;
		left:20px;
		}
		&.next {
		background-position: 160px 0;
		top: 130px;
		right:20px;
		}
	}
	.pagination {
		position: absolute;
		z-index: 10;
		bottom: 7px;
		width:960px;
		text-align: center;
		li {
			display:inline-block;
			margin:3px;
			a {
				border: none;
				background-color:rgba(255,255,255,0.3);
				display: block;
				width: 10px;
				height: 10px;
				outline: none;
				@include border-radius(5px, 5px);
				color:rgba(255,255,255,0.0);
			}
		}
		.current a{
			background-color:rgba(255,255,255,0.6);
		}
	}
}

