/* Titulo nodo, titulo cierreNodo*/
h1.hero{
	color: #343434;
	text-shadow: 0 1px #ffffff;
	font: 37px/50px "colaborativaBook";
}

h1.big{
	font: 30px "colaborativaBook";
	color: #343434;
}
h1{
	font: 25px/25px "colaborativaBook";
	color: #343434;
	&.parrafo{
		line-height: 30px;
	};
}
h2{
	margin-top:10px;
	margin-bottom:14px;
	font: 20px/23px "colaborativaLight";
	color: #929292;
}
h3 {
	font: 18px "colaborativaBook";
	color: #343434;
}
nav h3{
	font: 18px "colaborativaMedium";
	color: #343434;
	text-shadow: 0 1px #ffffff;
}
h4 {
	font: 13px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #929292;
}
h5{
	font: 13px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #929292;
}
body, p{
	font: 13px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #343434;
}
i{
	font-style: italic;
}
strong{
	font-weight: bold;
}
blockquote p{
	font-style: italic;
	text-indent: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
a:link, a:visited, a:active{
	color: #2671bc;
	text-decoration: none;
	border-bottom: 1px dotted #DFDFDF;
}
a:hover{
	color: #5195da;
}
a:link.listadoTitulo, a:visited.listadoTitulo, a:active.listadoTitulo{
	color: #2671bc;
	text-decoration: none;
	border-bottom: none;
}
a:hover.listadoTitulo{
	color: #5195da;
	text-decoration: none;
	border-bottom: none;
}
a:link.social{
	color: #929292;
	border-bottom: none;
}
a:hover.social{
	color: #bfbfbf;
}
a:link.titulo, a:visited.titulo, a:link.menu, a:visited.menu, a:hover.menu {
	color: #343434;
	border-bottom: none;
	text-decoration: none;
};
a:hover.titulo{
	color: #343434;
	border-bottom: 1px dotted #DFDFDF;
}