@import "compass/reset";
@import "fonts/fontfaces";
@import "_slides";
@import "_type";
@import "_botonSocial";
@import "_listadosAuxiliares";
@import "_cabecerapagina";
@import "_footerpagina";
@import "compass/css3";

html{
	background-color: rgb(238,238,238);
	height: 100%;
}
body{
	background-color: rgb(250,250,250);
}
.contenedor{
	width: 960px;
	margin-right: auto;
	margin-left: auto;	 
}
.contenedorPie{
	clear: both;
}
.cabeceraPagina, footer{
	width: 100%;
	min-width: 960px;
}
/* estilos linea cruzando el titulo de la seccion*/
footer .contenedor, .cuerpoPagina .contenedor{
	position: relative;
	top: -25px;
}
.cierreNodo .contenedor{
	position: relative;
	top: -15px;
}
.contenedor.Inicio{
	position: relative;
	top: 0px;
}
.cuerpoPagina, .cierreNodo{
	border-top: 1px solid #f2f2f2;
	margin-top: 50px;
}
.cuerpoPagina.Inicio{
	border-top: none;
	margin-top: 5px;
}
footer{
	border-top: 1px solid #f2f2f2;
	margin-top: 80px;
}
.cierreNodo{
	clear: right;
}
#columnaNavegacion, #columnaAuxiliar, #dosColumnasContenido, #tresColumnasContenido{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#columnaNavegacion{
	width: 240px;
	padding-right: 10px;
	float: left;
}
#columnaAuxiliar{
	width: 240px;
	padding-left: 10px;
	float: right;
}
#dosColumnasContenido{
	width: 720px;
	padding-left: 25px;
	float: right;
}
#tresColumnasContenido{
	width: 480px;
	padding-left: 25px;
	float: left;
	padding-right: 25px;
}
#dosColumnasContenido .nodo .cuerpoNodo p{
	width: 600px;
}
/* @end */ 

/* @group cuerpoPagina */
.cuerpoPagina{
	min-height: 400px;
	background-color: rgb(250,250,250);
}
/* @group nodoProyecto nodoArticulo*/


.nodo{
	top: -30px;
	position: relative;
	.cabeceraNodo{
		margin-bottom: 25px;
		p, ul{
			margin-top: 10px;
		}
	}
	h3{
		margin-top: 8px;
		margin-bottom: 0px;
	}
	h4{
		margin-left: 110px;
	}
	.miniaturaNodo{
		display: block;
		float: left;
		margin-right: 15px;
		height: 60px;
		width: 90px;
		background-size: cover;
	}
	.imagenNodo {
		margin-bottom: 25px;
		img{
			width: 600px;
		}
	}
	.cuerpoNodo{
		h1, h2, h3, h4, h5, h6{
			margin-bottom: 10px;
		}
		 p{
			margin-bottom: 20px;
		}
	}
	.contenedorMultimediaNodo{
		margin-top: 35px;
		margin-bottom: 25px;
		object{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.enlacesNodo{
		margin-top: 35px;
		margin-bottom: 25px;
		li{
			padding: 2px 0;
		}
		h2{
			margin-bottom: 5px;
		}
	}
}
.palabrasClave{
	li{
		display: inline-block;
	}
	li:after{
		content: ", " ;
		color: #2671bc;
	}
	li:last-child:after{
		content: "" ;
		color: #2671bc;
	}
}

.nodoLista{
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #f2f2f2;
	h3{
		padding-top: 8px;
		padding-bottom: 14px;
	}
	hgroup{
		margin-top: 8px;
	}
	.imagenNodoLista{
		float: left;
		margin-right: 15px;
		a{
			display: block;
			width:230px;
			height:200px;
			overflow:hidden;
			background-size: cover;
		}
	}
	.cuerpoNodo p{
		display: inline-block;
	}
}

.nodoLista .infoNodoLista{
	float: left;
	width: 450px;
}
span.terminosFiltrado{
	padding-left: 10px;
}
h2.tituloListado{
	margin-bottom: 15px;
}

.imagenInicio{
	width: 960px;
	height: 300px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}
hgroup.imagenInicioTitulo{
	position: absolute;
	background-color: white;
	padding: 25px;
}
hgroup.imagenInicioTitulo h3{
	width: 480px;
	margin-top: 7px;
}
.posicionDerechaAlta, .posicionDerechaBaja{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.posicionIzquierdaAlta, .posicionIzquierdaBaja{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.posicionDerechaAlta{
	top: 50px;
	right: 0;
}
.posicionDerechaBaja{
	bottom: 50px;
	right: 0;
}
.posicionIzquierdaAlta{
	top: 50px;
	left: 0;
}
.posicionIzquierdaBaja{
	bottom: 50px;
	left: 0;
	opacity: 0.85;
}

.listadoNodos{
	top: -30px;
	position: relative;
}
.listadoNodosInicio{
	width: 720px;
}
.listadoNodosInicio.Portfolio{
	width: 960px;
}
.listadoNodosInicio .nodoLista{
	width: 304px;
	height: 440px;
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom-style: none;
}
.listadoNodosInicio .nodoLista:first-child{
	padding-right: 15px;
	border-right: 1px solid #f2f2f2;
	padding-left: 0;
}
.listadoNodosInicio .nodoLista:last-child{
	border-right: 1px solid #f2f2f2;
	padding: 0 15px;
}
.listadoNodosInicio .infoNodoLista{
	width: 304px;
}
.listadoNodosInicio .nodoLista .imagenNodoLista, .listadoNodosInicio .nodoLista .imagenNodoLista a{
	display: block;
	margin: 0;
	padding: 0;
	height: 170px;
	width: 305px;
	background-size: cover;
}
.nodoLista .imagenNodoLista a:link, .nodoLista .imagenNodoLista a:visited{
	border-bottom-style: none;
}
.listadoNodosInicio .infoNodoLista .cabeceraNodo p{
	margin-top: 10px;
}
#columnaTres{
	height: 440px;
	width: 304px;
	float: right;
	border-bottom: none;
}
#ultimoTweetInicio{
	@include box-sizing(border-box);
	padding-left:15px;
	.tweetContenido{
		margin-top: 40px;
	}
	.tweetFecha{
		text-align: right;
		margin-top: 15px;
	}
	.tweetInfo{
		text-align: right;
	}
	a.nombreUsuario:link,  a.nombreUsuario:visited{
		border-bottom-style: none;	
	}
}

ul.pager{
	margin: 15px 0 0;
	padding: 0;
}
li.paginacion{
	margin: 0;
	padding: 0;
	display: block;
	&.current{
		background-color: #dfdfdf;
		padding: 4px 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		color: white;
	}
	a:link, a:visited{
		border-bottom-style: none;
		padding: 4px 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}
	a:hover{
		background-color: #ededed;
	}
	a:active{
		background-color: #dfdfdf;
	}
}

@import "_portfoliolayout";
