<section class="listadoArticulos Proyectos">
	<hgroup>
		<h2>{{ site.listado-articulos-relacionados-titulo.es }}</h2>
		<h3>{{ site.listado-articulos-relacionados-subtitulo.es }}</h3>
	</hgroup>
	<section>
		<div class="featured-content-block featured-content-block-1 featured-content-block-filter">
			<ul class="featured-content-block-content">
				{% for articulos in site.categories.blog %}
					{% for relacionados in page.articulos-relacionados %}
						{% if relacionados == articulos.title %}
						<li><a href="{{ articulos.url }}">{{ articulos.title }}</a></li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<div class="contenedorPie"></div>
	</section>
</section>