<footer class="piePagina">
	<div class="contenedor">
		<div class="datosContacto">
			<hgroup>
				<h2>{{ site.subtitulo.es }}</h2>
				<h3><span class="email"><span></span><a href="mailto:info@colaborativa.eu">info@colaborativa.eu</a></span><span class="tel"><span></span><a href="tel:+34 957 78 21 64">+34 957 78 21 64</a></span></h3>
			</hgroup>
			<p><span class="vcard"><span class="adr"><span class="street-address">Calle Marroquíes 2</span>, <span class="postal-code">14001</span>, <span class="locality">Córdoba</span> <span class="country">España</span> · <a href="#">Mapa</a></span></span></p>
			<p>{{ site.titulo }} 2010­-­2011 · <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="copyright">Algunos derechos reservados</a></p>
		</div>
		<ul class="enlacesSociales">
			<li><a class="enlaceExterno" href="{{ site.enlaces-sociales-facebook.url }}"><span></span>{{ site.enlaces-sociales-facebook.es }}</a></li>
			<li><a class="enlaceExterno" href="{{ site.enlaces-sociales-twitter.url }}"><span></span>{{ site.enlaces-sociales-twitter.es }}</a></li>
			<li><a class="enlaceExterno" href="{{ site.enlaces-sociales-flickr.url }}"><span></span>{{ site.enlaces-sociales-flickr.es }}</a></li>
			<li><a class="enlaceExterno" href="{{ site.enlaces-sociales-youtube.url }}"><span></span>{{ site.enlaces-sociales-youtube.es }}</a></li>
		</ul>
	</div>
	<div class="contenedorPie"></div>
</footer>