<header class="cabeceraPagina">
	<div class="contenedor">
		<div class="tituloMenuBusqueda">
			<h1><a href="/" title="Inicio" rel="home" id="logo">Colaborativa</a></h1>
			<nav>
				<h2>{{ site.navegacion.es }}</h2>
				<ul class="menu">
					<li><a href="/blog/" class="menuBlog">{{ site.navegacion-blog.es }}</a></li>
					<li><a href="/proyectos/" class="menuProyectos">{{ site.navegacion-proyectos.es }}</a></li>
					<li><a href="/equipo/sobre-colaborativa/" class="menuEquipo">{{ site.navegacion-equipo.es }}</a></li>
					<li><a href="http://github.com/colaborativa" class="menuCodigo">{{ site.navegacion-codigo.es }}</a></li>
				</ul>
			</nav>
			<!--<form id="search" class="search-form">
				<input type="text">
				<input type="submit">
			</form>-->
		</div>
	</div>
</header>