<header class="cabeceraPagina">
	<div class="contenedor">
		<div class="tituloMenuBusqueda">
			<h1><a href="/" title="Inicio" rel="home" id="logo">Colaborativa</a></h1>
			<nav>
				<h2>{{ site.navegacion.es }}</h2>
				<ul class="menu">
					<li><a href="/blog/" class="menuBlog">{{ site.navegacion-blog.es }}</a></li>
					<li><a href="/proyectos/" class="menuProyectos">{{ site.navegacion-proyectos.es }}</a></li>
					<li><a href="/equipo/sobre-colaborativa/" class="menuEquipo">{{ site.navegacion-equipo.es }}</a></li>
					<li><a href="/herramientas/" class="menuHerramientas">{{ site.navegacion-herramientas.es }}</a></li>
					<li><a href="https://github.com/colaborativa/" class="menuCodigo">{{ site.navegacion-codigo.es }}</a></li>
				</ul>
			</nav>
			<form class="search-form" method="post">
				<input type="text" value="" size="15" maxlength="128">
				<input type="submit" value="Buscar">
			</form>
		</div>
	</div>
<header>