{% if page.layout == "blog-articulo" %}
{% assign objeto = "page" %}
{% else %}
{% assign objeto = "item" %}
{% endif %}

{{ [objeto].date | date:"%d %B de %Y" | replace:"January","Enero" | replace:"February","Febrero" | replace:"March","Marzo" | replace:"Mayo","May" | replace:"June","Junio" | replace:"July","Julio" | replace:"August","Agosto" | replace:"September","Septiembre" | replace:"November","Noviembre" | replace:"December","Diciembre" }}  {{ site.inline-por.es }}

{% for equipo in site.categories.equipo reversed %}
	{% for autor in [objeto].autores %}
		{% case forloop.length %} 
			{% when 1 %}
				{% if autor == equipo.title %}
				<a href="{{ equipo.url }}">{{ equipo.title }}</a>
				{% endif %}
			{% when 2 %}
				{% if forloop.first %}
					{% if autor == equipo.title %}
					 <a href="{{ equipo.url }}">{{ equipo.title }}</a>
					{% endif %}
				{% else %}
					{% if autor == equipo.title %}
					{{ site.inline-y.es }} <a href="{{ equipo.url }}">{{ equipo.title }}</a>
					{% endif %}
				{% endif %}
			{% else %}
				{% if forloop.first %}
					{% if autor == equipo.title %}
					 <a href="{{ equipo.url }}">{{ equipo.title }}</a>,
					{% endif %}
				{% else %}
					{% if forloop.last %}
						{% if autor == equipo.title %}
						{{ site.inline-y.es }} <a href="{{ equipo.url }}">{{ equipo.title }}</a>
						{% endif %}
					{% else %}
						{% if autor == equipo.title %}
						<a href="{{ equipo.url }}">{{ equipo.title }}</a>
						{% endif %}
					{% endif %}
				{% endif %}
		{% endcase %}
	{% endfor %}
{% endfor %}