{% if page.category == "categorias" %}
	{% for proyecto in site.categories.proyectos %}
		{% assign contador = forloop.length %}
	{% endfor %}
	{% if contador == 1 %}
		{{ contador }} {{ site.proyectos.es }} en {{ page.title }}
	{% else %}
		{{ contador }} {{ site.proyectos.es }}s en {{ page.title }}
	{% endif %}
{% else %}
	{% for proyecto in site.categories.proyectos %}
		{% assign contador = forloop.length %}
	{% endfor %}
	{% if contador == 1 %}
		{{ contador }} {{ site.proyectos.es }} en {{ page.title }}
	{% else %}
		{{ contador }} {{ site.proyectos.es }}s en {{ page.title }}
	{% endif %}
{% endif %}