{% for item in page.enlaces %}
	{% if item.type == "prensa" %}
		{% assign hayprensa = 1 %}
	{% endif %}
{% endfor %}
{% if hayprensa %}
<section class="listadoArticulos">
	<hgroup>
		<h3>{{ site.listado-enlaces-prensa-titulo.es }}</h3>
		<h4>{{ site.listado-enlaces-prensa-subtitulo.es }}</h4>
	</hgroup>
	<section>
		<ul>
			{% for item in page.enlaces %}
			{% if item.type == "prensa" %}
			<li>
				<h4><a class="listadoTitulo" href="{{ item.url }}">{{ item.title }}</a></h4>
				<h5>{{ item.source }} · {{ item.date }}</h5>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<div class="contenedorPie"></div>
	</section>
</section>
{% endif %}
