<section class="listadoArticulos Autor">
	<hgroup>
		<h2>{{ site.listado-articulos-autor-titulo.es }}</h2>
		<h3>{{ site.listado-articulos-autor-subtitulo.es }}</h3>
	</hgroup>
	<section>
		<ul>
			{% for articulo in site.categories.blog %}
				{% for autor in articulo.autor %}
					{% if autor == page.nombre %}
					<li>
						<h2><a href="{{ articulo.url }}">{{ articulo.titulo }}</a></h2>
						<h3>{{ articulo.subtitulo }}</h3>
					</li>
					{% else %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
		<div class="contenedorPie"></div>
	</section>
</section>