<section class="listadoArticulos">
	<hgroup>
		<h3>{{ site.listado-articulos-autor-titulo.es }}</h3>
		<h4>{{ site.listado-articulos-autor-subtitulo.es }}</h4>
	</hgroup>
	<section>
		<ul>
			{% for item in site.categories.articulos %}
				{% for autor in item.autores %}
					{% if autor == page.title %}
					<li>
						<hgroup>
							<h4><a class="listadoTitulo" href="{{ item.url }}">{{ item.title }}</a></h4>
							<h5>{{ item.date | date:"%b %Y" }} · {{ item.subtitulo }}</h5>
						</hgroup>
					</li>
					{% else %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
		<div class="contenedorPie"></div>
	</section>
</section>