<section class="listadoEtiquetas">
	<hgroup>
		<h3>{{ site.listado-articulos-categorias-titulo.es }}</h3>
		<h4>{{ site.listado-articulos-categorias-subtitulo.es }}</h4>
	</hgroup>
	<section>
		<ul>
			{% for item in site.categories.proyectos %}
				{% for categoria in page.categorias %}
					{% if categoria == item.title %}
					<li>
						<a class="listadoTitulo" href="{{ item.url }}">{{ item.title }}</a>
					</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
		<div class="contenedorPie"></div>
	</section>
</section>