{% for item in page.enlaces %}
	{% if item.type == "prensa" %}
		{% assign hayprensa = 1 %}
	{% endif %}
{% endfor %}
{% if hayprensa %}
<section class="listadoArticulos">
	<hgroup>
		<h2>{{ site.listado-enlaces-prensa-titulo.es }}</h2>
		<h3>{{ site.listado-enlaces-prensa-subtitulo.es }}</h3>
	</hgroup>
	<section>
		<ul>
			{% for item in page.enlaces %}
			{% if item.type == "prensa" %}
			<li>
				<h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
				<h3>{{ item.source }} · {{ item.date }}</h3>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<div class="contenedorPie"></div>
	</section>
</section>
{% endif %}
