<section class="listadoColaborativos">
	<hgroup>
		<h3>{{ site.listado-colaboradores-titulo.[page.language] }}</h3>
		<h4>{{ site.listado-colaboradores-subtitulo.[page.language] }}</h4>
	</hgroup>
	<section>
		<ul>
			{% for item in site.categories.colaboradores reversed %}
			<li>
				<div class="colaboradorIcono" style="background: url(http://{{ item.imagen }}_s.jpg) center center no-repeat"></div>
				<div class="subcategoryPopUp">
					<span class="triangulo"> </span>
					<h5>{{ item.title }}</h5>
					<a target="_blank" href="{{ item.link }}"><span></span>{{ item.link }}</a>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div class="contenedorPie"></div>
	</section>
</section>