<div class="cierreNodo">
	<div class="contenedor">
		<div id="dosColumnasNavegacion"></div>
		<div id="dosColumnasContenido">
			<section class="listadoColaboradoresProyecto">
				<hgroup>
					<h2>Colaboradores</h2>
					<h3>Hemos colaborado con</h3>
				</hgroup>
				<section>
				<ul class="proyectosColaboradores">
					{% for colaboradores in page.colaboradores %}
						{% for colaborador in site.categories.colaboradores %}
						{% if colaboradores == colaborador.title %}
						<li>
							<div class="subcategoryPopUp">
								<span class="triangulo"> </span>
								<h3>{{ colaborador.title }}</h3>
								<a target="_blank" href="{{ colaborador.link }}"><span></span>{{ colaborador.link }}</a>
							</div>
							<div class="colaboradorIcono" style="background: url(http://{{ colaborador.imagen }}_s.jpg) center center no-repeat"></div>
						</li>
						{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
				</section>
			</section>
		</div>
	</div>
	<div class="contenedorPie"></div>
</div>