{% comment %}
<section class="botonlateralSocial">
	<div class="botonlateralTwitter">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-via="colaborativaeu" data-lang="en" data-related="colaborativa" data-count="vertical">Tweet</a>
	</div>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<div class="botonlateralFacebook">
		<div class="fb-like" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div>
	</div>
	<div class="botonlateralGoogle">
		<g:plusone size="tall"></g:plusone>
	</div>
</section>
{% endcomment %}
<section class="botonlateralSocial">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e4546237b8e985a"></script>
	<!-- AddThis Button END -->
</section>
<div class="follow">
	<div class="graph"></div>
	<div class="tweets"></div>
</div>
