<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h1 class="big">{{ site.inline-articulos.[page.language] | capitalize }}</h1>
				<div id="columnaNavegacion">
					{% include _social.html %}
					{% include _listado-articulo-categorias.html %}
					{% include _listado-articulo-relacionados.html %}
					{% include _listado-proyecto-reacciones.html %}
				</div>
				<div id="dosColumnasContenido">
					<article class="nodo goog-trans-section" lang="es">
						<div class="cabeceraNodo">
							<hgroup>
								<h1>{{ page.title }}</h1>
								<h2>{{ page.subtitulo }}</h2>
							</hgroup>
							<p><span class="goog-trans-control"></span> {% include _inline-fecha-autor.html %}</p>
						</div>
						<div class="imagenNodo">
							<img src="http://{{ page.imagen }}_z.jpg" alt="">
						</div>
						<div class="cuerpoNodo">
							{{ content }}
						</div>
						<div class="enlacesNodo">
							{% include _enlaces.html %}
						</div>
					</article>
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
		{% if page.auto-traduccion %}
			{% include _script-translate.html %}
		{% endif %}
	</body>
</html>