<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h2>{{ page.title }}</h2>
				<div id="columnaNavegacion">
					{% include _blog-etiquetas.html %}
				</div>
				<div id="dosColumnasContenido">
					<section class="listadoNodos">
						<h2 class="tituloListadoArticulos">13 artículos. Hay que implementar en numero de articulos y la paginacion</h2>
						{% for articulo in site.categories.blog %}
						<article class="nodoLista">
							<div class="imagenNodoLista">
								<a href="{{ articulo.url }}"><img  src="" alt="" title=""></a>
							</div>
							<div class="infoNodoLista">
								<div class="cabeceraNodo">
									<p>
										<ul class="links inline">
											<li class="comment-add first"><a href="" title="">Add new comment</a></li>
											<li class="disqus_comments_num last"><a href="">Sin comentarios y Sin reacciones</a></li>
										</ul>
									</p>
									<hgroup>
										<h2><a href="{{ articulo.url }}">{{ articulo.titulo }}</a></h2>
										<h3>{{ articulo.subtitulo }}</h3>
									</hgroup>
								</div>
								<div class="cuerpoNodo">
									{% include _articulo-fecha-autor.html %} {{ articulo.content | truncate: 200 }}
								</div>
							</div>
							<div class="contenedorPie"></div>
						</article>
						{% endfor %}
					</section>
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>
