<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h2>{{ site.inline-articulos.es | capitalize }}</h2>
				<div id="columnaNavegacion">
					{% include _articulo-categorias.html %}
					{% include _listado-reacciones.html %}
					{% include _listado-enlaces-prensa.html %}
					{% include _articulo-relacionados.html %}
				</div>
				<div id="dosColumnasContenido">
					<article class="nodo">
						<div class="cabeceraNodo">
							<hgroup>
								<h2>{{ page.title }}</h2>
								<h3>{{ page.subtitulo }}</h3>
							</hgroup>
							<p>{% include _inline-fecha-autor.html %}</p>
						</div>
						<div class="imagenNodo">
							<img src="http://{{ page.imagen }}_z.jpg" alt="">
						</div>
						<div class="cuerpoNodo">
							{{ content }}
						</div>
						<div class="enlacesNodo">
							{% include _enlaces.html %}
						</div>
					</article>
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>