<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h2>{{ site.navegacion-blog.es }}</h2>
				<div id="columnaNavegacion">
					{% include _blog-categorias.html %}
				</div>
				<div id="dosColumnasContenido">
					<section class="listadoNodos">
						<h2 class="tituloListadoArticulos">{% include _inline-contador.html %}</h2>
						{% for item in site.categories.articulos %}
						<article class="nodoLista">
							<div class="imagenNodoLista">
								<a href="{{ item.url }}" style="background: url(http://{{ item.imagen }}.jpg) center center no-repeat"></a>
							</div>
							<div class="infoNodoLista">
								<div class="cabeceraNodo">
									<p>
										<ul class="links inline">
											<li class="comment-add first"><a href="" title="">Add new comment</a></li>
											<li class="disqus_comments_num last"><a href="">Sin comentarios y Sin reacciones</a></li>
										</ul>
									</p>
									<hgroup>
										<h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
										<h3>{{ item.subtitulo }}</h3>
									</hgroup>
								</div>
								<div class="cuerpoNodo">
									{% include _inline-fecha-autor.html %} {{ item.content | truncate: 200 }}
								</div>
							</div>
							<div class="contenedorPie"></div>
						</article>
						{% endfor %}
					</section>
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>
