<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina Inicio">
			<div class="contenedor Inicio">
				<div class="imagenInicio">
					<div id="slides">
						<div class="slides_container">
							{% for banner in site.categories.proyectos %}
								{% if banner.en-cabecera %}
								<div>
									<a href="{{ banner.url }}">
										<img src="{{ banner.imagen-cabecera }}" alt="{{ banner.title }}" title="{{ banner.title }}">
									</a>
								</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="listadoNodosInicio">
					{% for item in site.categories.articulos limit:2 %}
						{% include _nodolista-articulo.html %}
					{% endfor %}
				</div>
				<div id="columnaTres">
					{% include _listado-categorias-proyectos.html %}
					{% include _main-tweet.html %}
				</div>
				<div class="contenedorPie"></div>
			</div>
		</section>
		{% include _footer.html %}
	</body>
</html>