<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h1 class="big">{{ site.navegacion-equipo.[page.language] }}</h1>
				<div id="columnaNavegacion">
					{% include _listado-colaborativos.html %}
					{% include _listado-colaboradores.html %}
				</div>
				<div id="dosColumnasContenido">
					<article class="nodo">
						<div class="cabeceraNodo">
							<hgroup>
								<h1>{{ page.title }}</h1>
								<h2>{{ page.subtitulo }}</h2>
							</hgroup>
						</div>
						<div class="cuerpoNodo">
							{{ content }}
						</div>
					</article>
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>