<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h2>{{ site.navegacion-equipo.es }}</h2>
				<div id="columnaNavegacion">
					{% include _listado-colaborativos.html %}
					{% include _listado-colaboradores.html %}
				</div>
				<div id="tresColumnasContenido">
					<article class="nodo equipo">
						<div class="cabeceraNodo">
							<div class="miniaturaNodo" style="background: url(http://{{ page.imagen }}_t.jpg) center center no-repeat">
							</div>
							<hgroup>
								<h2>{{ page.title }}</h2>
								<h3>{{ page.cargo }}</h3>
							</hgroup>
						</div>
						<div class="cuerpoNodo">
							{{ content }}
						</div>
						<div class="enlacesNodo">
							{% include _enlaces.html %}
						</div>
					</article>
				</div>
				<div id="columnaAuxiliar">
					{% include _listado-articulos-autor.html %}
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>