<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h1 class="big">{{ site.navegacion-proyectos.[page.language] }}</h1>
				<div id="columnaNavegacion">
					<section>
						<h2>{{ page.title }}</h2>
						{{ content }}
					</section>
				</div>
				<div id="dosColumnasContenido">
					<section class="listadoNodos">
						<h1 class="tituloListado">{% include _inline-contador.html %}</h1>
						{% for item in site.categories.proyectos %}
							{% if item.language == page.language %}
							{% for categoria in item.categorias %}
								{% if categoria == page.slug %}
									{% include _nodolista-proyecto.html %}
								{% endif %}
							{% endfor %}
							{% endif %}
						{% endfor %}
					</section>
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>
