<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h1 class="big">{{ site.navegacion-proyectos.[page.language] }}</h1>
				<div class="listadoNodos Portfolio">
					{% for item in site.categories.proyectos limit:10 %}
						{% if item.language == page.language %}
						{% include _nodolista-proyecto.html %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</section>
		<div class="contenedorPie"></div>
		{% include _footer.html %}
	</body>
</html>